
/* Define colors */
html {
  --main-bg-color: rgb(27, 30, 39);

  --banner-text-color: rgb(255, 255, 255);
  --banner-bg-color: rgb(41, 45, 57);

  --menu-button-color: rgb(200, 201, 203);

  --graph-text-color: rgb(255, 255, 255);
  --graph-bg-color: rgb(27, 30, 39);
  --graph-interval-color: rgba(255, 255, 255, 0.05);
  --graph-axis-color: rgb(89, 90, 95);
  --graph-tick-color: rgb(151, 151, 151);
  --graph-good-line-color: rgb(74, 144, 226);
  --graph-bad-line-color: rgb(233, 67, 100);

  --hover-text-color: rgb(255, 255, 255);
  --hover-bg-color: rgb(82, 87, 111);
  --hover-line-color: rgb(100, 107, 127);

  --recommendbar-text-color: rgb(255, 255, 255);
  --recommendbar-arrow-color: rgb(231, 239, 248);
  --recommendbar-top-line-color: rgb(96, 147, 208);
  --recommendbar-bg-color: rgb(63, 125, 198);

  --recommend-link-color: rgb(62, 167, 244);
  --recommend-text-color: rgb(255, 255, 255);
  --recommend-close-color: rgb(62, 167, 244);
  --recommend-bg-color: rgba(59, 68, 90, 0.99);
}

html.light-theme {
  --main-bg-color: rgb(239, 239, 239);

  --banner-bg-color: rgb(65, 69, 85);

  --menu-button-color: rgb(123, 128, 146);

  --graph-text-color: rgb(101, 101, 101);
  --graph-bg-color: rgb(227, 227, 227);
  --graph-interval-color: rgba(0, 0, 0, 0.1);
  --graph-axis-color: rgb(189, 189, 189);
}

/* Main layout */

/* z-index: 1; is the hover boxes */
/* z-index: 2; is the recommendation view */

html, body {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg-color);
}

#graph {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-areas:
    "cpu"
    "memory"
    "delay"
    "handles";
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  margin-right: 20px;
}

html.grid-layout #graph {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-template-areas:
    "cpu memory"
    "delay handles";
}

#graph .graph.cpu {
  grid-area: cpu;
}

#graph .graph.memory {
  grid-area: memory;
}

#graph .graph.delay {
  grid-area: delay;
}

#graph .graph.handles {
  grid-area: handles;
}

/* Global Typography */

html {
  font-family: sans-serif;
}

html #banner, html #menu, html #graph, #graph .hover text, .details {
  /* light text on dark background doesn't look so good in the browser compared
     to graphical design tools. This is because graphical design tools uses
     antialiasing, where browsers uses subpixel rendering. To make it look
     like in the design tool, use antialiased font rendering. More details,
     especially on why this is a bad idea:
       http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.light-theme #menu, html.light-theme #graph .details {
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

/* Banner layout */
#banner {
  height: 65px;
  background: var(--banner-bg-color);
  position: relative;
}

#banner::after {
  content: 'Doctor';
  font-size: 14pt;
  font-weight: lighter;
  color: var(--banner-text-color);
  display: block;
  margin-left: 35px;
  line-height: 65px;
}

/* Menu layout */

#menu {
  height: 24px;
  overflow: hidden;
  margin: 22px 45px 10px 10px;
}

#menu .toggle {
  float: right;
  cursor: pointer;
  background-size: 100% auto;
}

#toggle-grid {
  margin-right: 11px;
  height: 24px;
  width: 24px;

  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYzhjOWNiIiB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiByeD0iMSI+PC9yZWN0PgogIDxyZWN0IHg9IjEyIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHJ4PSIxIj48L3JlY3Q+CiAgPHJlY3QgeD0iMCIgeT0iMTIiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgcng9IjEiPjwvcmVjdD4KICA8cmVjdCB4PSIxMiIgeT0iMTIiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgcng9IjEiPjwvcmVjdD4KPC9zdmc+Cg==");
}

html.light-theme #toggle-grid {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjN2I4MDkyIiB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIiByeD0iMSI+PC9yZWN0PgogIDxyZWN0IHg9IjEyIiB5PSIwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHJ4PSIxIj48L3JlY3Q+CiAgPHJlY3QgeD0iMCIgeT0iMTIiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgcng9IjEiPjwvcmVjdD4KICA8cmVjdCB4PSIxMiIgeT0iMTIiIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgcng9IjEiPjwvcmVjdD4KPC9zdmc+Cg==");
}

html.grid-layout #toggle-grid {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYzhjOWNiIiB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjIyIiBoZWlnaHQ9IjQiIHJ4PSIxIj48L3JlY3Q+CiAgPHJlY3QgeD0iMCIgeT0iNiIgd2lkdGg9IjIyIiBoZWlnaHQ9IjQiIHJ4PSIxIj48L3JlY3Q+CiAgPHJlY3QgeD0iMCIgeT0iMTIiIHdpZHRoPSIyMiIgaGVpZ2h0PSI0IiByeD0iMSI+PC9yZWN0PgogIDxyZWN0IHg9IjAiIHk9IjE4IiB3aWR0aD0iMjIiIGhlaWdodD0iNCIgcng9IjEiPjwvcmVjdD4KPC9zdmc+Cg==");
}

html.grid-layout.light-theme #toggle-grid {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjN2I4MDkyIiB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjIyIiBoZWlnaHQ9IjQiIHJ4PSIxIj48L3JlY3Q+CiAgPHJlY3QgeD0iMCIgeT0iNiIgd2lkdGg9IjIyIiBoZWlnaHQ9IjQiIHJ4PSIxIj48L3JlY3Q+CiAgPHJlY3QgeD0iMCIgeT0iMTIiIHdpZHRoPSIyMiIgaGVpZ2h0PSI0IiByeD0iMSI+PC9yZWN0PgogIDxyZWN0IHg9IjAiIHk9IjE4IiB3aWR0aD0iMjIiIGhlaWdodD0iNCIgcng9IjEiPjwvcmVjdD4KPC9zdmc+Cg==");
}

#toggle-theme {
  margin-top: 2px;
  margin-left: 11px;
  height: 20px;
  width: 27px;

  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYzhjOWNiIiB3aWR0aD0iMjdweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjcgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTI2LjgwNjI4MjcsMTAgQzI2LjgwNjI4MjcsMTAuMzkzNTIwNSAyNi43MDY1NTgsMTAuNzkyODIyIDI2LjUwNzEwNTUsMTEuMTk3OTE2NyBDMjUuMTEwOTM3OSwxMy44NTk5NjcgMjMuMjMzNjE5NCwxNS45OTI0Njg4IDIwLjg3NTA5MzUsMTcuNTk1NDg2MSBDMTguNTE2NTY3NiwxOS4xOTg1MDM0IDE2LjAyNTk0MTgsMjAgMTMuNDAzMTQxNCwyMCBDMTAuNzgwMzQwOSwyMCA4LjI4OTcxNTExLDE5LjE5NTYwOTkgNS45MzExODkyMywxNy41ODY4MDU2IEMzLjU3MjY2MzM1LDE1Ljk3ODAwMTIgMS42OTUzNDQ4LDEzLjg0ODM5MjkgMC4yOTkxNzcyNjMsMTEuMTk3OTE2NyBDMC4wOTk3MjQ3NTY5LDEwLjc5MjgyMiAwLDEwLjM5MzUyMDUgMCwxMCBDMCw5LjYwNjQ3OTUxIDAuMDk5NzI0NzU2OSw5LjIwNzE3Nzk1IDAuMjk5MTc3MjYzLDguODAyMDgzMzMgQzEuNjk1MzQ0OCw2LjE1MTYwNzEyIDMuNTcyNjYzMzUsNC4wMjE5OTg3OCA1LjkzMTE4OTIzLDIuNDEzMTk0NDQgQzguMjg5NzE1MTEsMC44MDQzOTAxMDQgMTAuNzgwMzQwOSwwIDEzLjQwMzE0MTQsMCBDMTYuMDI1OTQxOCwwIDE4LjUxNjU2NzYsMC44MDQzOTAxMDQgMjAuODc1MDkzNSwyLjQxMzE5NDQ0IEMyMy4yMzM2MTk0LDQuMDIxOTk4NzggMjUuMTEwOTM3OSw2LjE1MTYwNzEyIDI2LjUwNzEwNTUsOC44MDIwODMzMyBDMjYuNzA2NTU4LDkuMjA3MTc3OTUgMjYuODA2MjgyNyw5LjYwNjQ3OTUxIDI2LjgwNjI4MjcsMTAgWiBNMTMuNDU1NDk3NCwxNi41NDQ1MDI2IEMxNy4wNjk5MjY0LDE2LjU0NDUwMjYgMjAsMTMuNjE0NDI5IDIwLDEwIEMyMCw2LjM4NTU3MTAxIDE3LjA2OTkyNjQsMy40NTU0OTczOCAxMy40NTU0OTc0LDMuNDU1NDk3MzggQzkuODQxMDY4MzksMy40NTU0OTczOCA2LjkxMDk5NDc2LDYuMzg1NTcxMDEgNi45MTA5OTQ3NiwxMCBDNi45MTA5OTQ3NiwxMy42MTQ0MjkgOS44NDEwNjgzOSwxNi41NDQ1MDI2IDEzLjQ1NTQ5NzQsMTYuNTQ0NTAyNiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiPjwvcGF0aD4KICA8Y2lyY2xlIGN4PSIxMy40NTU0OTc0IiBjeT0iOS44OTUyODc5NiIgcj0iMy4yOTg0MjkzMiI+PC9jaXJjbGU+Cjwvc3ZnPgo=");
}

html.light-theme #toggle-theme {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjN2I4MDkyIiB3aWR0aD0iMjdweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjcgMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTI2LjgwNjI4MjcsMTAgQzI2LjgwNjI4MjcsMTAuMzkzNTIwNSAyNi43MDY1NTgsMTAuNzkyODIyIDI2LjUwNzEwNTUsMTEuMTk3OTE2NyBDMjUuMTEwOTM3OSwxMy44NTk5NjcgMjMuMjMzNjE5NCwxNS45OTI0Njg4IDIwLjg3NTA5MzUsMTcuNTk1NDg2MSBDMTguNTE2NTY3NiwxOS4xOTg1MDM0IDE2LjAyNTk0MTgsMjAgMTMuNDAzMTQxNCwyMCBDMTAuNzgwMzQwOSwyMCA4LjI4OTcxNTExLDE5LjE5NTYwOTkgNS45MzExODkyMywxNy41ODY4MDU2IEMzLjU3MjY2MzM1LDE1Ljk3ODAwMTIgMS42OTUzNDQ4LDEzLjg0ODM5MjkgMC4yOTkxNzcyNjMsMTEuMTk3OTE2NyBDMC4wOTk3MjQ3NTY5LDEwLjc5MjgyMiAwLDEwLjM5MzUyMDUgMCwxMCBDMCw5LjYwNjQ3OTUxIDAuMDk5NzI0NzU2OSw5LjIwNzE3Nzk1IDAuMjk5MTc3MjYzLDguODAyMDgzMzMgQzEuNjk1MzQ0OCw2LjE1MTYwNzEyIDMuNTcyNjYzMzUsNC4wMjE5OTg3OCA1LjkzMTE4OTIzLDIuNDEzMTk0NDQgQzguMjg5NzE1MTEsMC44MDQzOTAxMDQgMTAuNzgwMzQwOSwwIDEzLjQwMzE0MTQsMCBDMTYuMDI1OTQxOCwwIDE4LjUxNjU2NzYsMC44MDQzOTAxMDQgMjAuODc1MDkzNSwyLjQxMzE5NDQ0IEMyMy4yMzM2MTk0LDQuMDIxOTk4NzggMjUuMTEwOTM3OSw2LjE1MTYwNzEyIDI2LjUwNzEwNTUsOC44MDIwODMzMyBDMjYuNzA2NTU4LDkuMjA3MTc3OTUgMjYuODA2MjgyNyw5LjYwNjQ3OTUxIDI2LjgwNjI4MjcsMTAgWiBNMTMuNDU1NDk3NCwxNi41NDQ1MDI2IEMxNy4wNjk5MjY0LDE2LjU0NDUwMjYgMjAsMTMuNjE0NDI5IDIwLDEwIEMyMCw2LjM4NTU3MTAxIDE3LjA2OTkyNjQsMy40NTU0OTczOCAxMy40NTU0OTc0LDMuNDU1NDk3MzggQzkuODQxMDY4MzksMy40NTU0OTczOCA2LjkxMDk5NDc2LDYuMzg1NTcxMDEgNi45MTA5OTQ3NiwxMCBDNi45MTA5OTQ3NiwxMy42MTQ0MjkgOS44NDEwNjgzOSwxNi41NDQ1MDI2IDEzLjQ1NTQ5NzQsMTYuNTQ0NTAyNiBaIiBpZD0iQ29tYmluZWQtU2hhcGUiPjwvcGF0aD4KICA8Y2lyY2xlIGN4PSIxMy40NTU0OTc0IiBjeT0iOS44OTUyODc5NiIgcj0iMy4yOTg0MjkzMiI+PC9jaXJjbGU+Cjwvc3ZnPgo=");
}

/* recommendation layout */
#recommendation .space {
  margin-bottom: 100px;
}

#recommendation .content {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

#recommendation .bar {
  height: 64px;
  border-top: 1px solid var(--recommendbar-top-line-color);
  background: var(--recommendbar-bg-color);
  overflow: hidden;
  cursor: pointer;
}

#recommendation .bar .text::after {
  display: block;
  margin-left: 37px;
  float: left;
  content: 'recommendations';
  font-variant: small-caps;
  font-size: 14pt;
  line-height: 64px;
  color: var(--recommendbar-text-color);
}

#recommendation .bar .arrow {
  float: left;
  margin-left: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZTdlZmY4IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDE1LjQxTDEyIDEwLjgzbDQuNTkgNC41OEwxOCAxNGwtNi02LTYgNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
  height: 64px;
  width: 38px;
  background-size: 38px 38px;
  background-repeat: no-repeat;
  background-position: center 15px;
}

#recommendation.open .bar .arrow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZTdlZmY4IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
}

#recommendation .details {
  display: none;
  position: absolute;
  padding-left: 15px;
  bottom: 64px;
  width: 100%;
  background-color: var(--recommend-bg-color);
  color: var(--graph-text-color);
}

#recommendation.open .details {
  display: block;
}

#recommendation .details .close {
  height: 24px;
  width: 24px;
  margin: 18px 32px 7px auto;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjM2VhN2Y0IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPgo=");
  cursor: pointer;
}

#recommendation .details a {
  color: var(--recommend-link-color);
}

#recommendation .details .summary {
  color: var(--recommendbar-text-color);
}

#recommendation .more-section .more {
  color: var(--recommendbar-text-color);
  visibility: hidden;
  height: 0px;
  margin-bottom: 0px;
}

#recommendation .more-section.open .more {
  visibility: visible;
  height: auto;
  margin-bottom: 24px;
}

#recommendation .more-bar {
  height: 64px;
  overflow: hidden;
  cursor: pointer;
}

#recommendation .more-bar .text::after {
  display: block;
  float: left;
  content: 'read more';
  font-variant: small-caps;
  font-size: 14pt;
  line-height: 64px;
  color: var(--recommendbar-text-color);
}

#recommendation .more-section.open .more-bar .text::after {
  content: 'read less';
}

#recommendation .more-section .more-bar .arrow {
  float: left;
  margin-left: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZTdlZmY4IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDE1LjQxTDEyIDEwLjgzbDQuNTkgNC41OEwxOCAxNGwtNi02LTYgNnoiLz4KICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
  height: 64px;
  width: 38px;
  background-size: 38px 38px;
  background-repeat: no-repeat;
  background-position: center 15px;
}

#recommendation .more-section.open .more-bar .arrow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZTdlZmY4IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+Cg==");
}

/* Graph layout */
.graph {
  position: relative;
}

.graph .header {
  /* margin-left: is the `graph g[margin-left] - .domain[stroke-width]` */
  margin: 0 20px 0 48px;
  height: 18px;
  color: var(--graph-text-color);
  font-size: 12pt;
  overflow: hidden;
}

.graph .header .title {
  float: left;
  height: 18px;
  margin-right: 20px;
}

.graph .header .title .alert {
  float: right;
  margin-left: 10px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+DQogICAgPHBhdGggZmlsbD0iI2U5NDM2NCIgZD0iTTEgMjFoMjJMMTIgMiAxIDIxem0xMi0zaC0ydi0yaDJ2MnptMC00aC0ydi00aDJ2NHoiLz4NCjwvc3ZnPg==");
  height: 18px;
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  visibility: hidden;
}

.graph .header .title .alert.visible {
  visibility: visible;
}

.graph .header .title .name::after {
  content: ' ';
}

.graph .header .legend {
  float: left;
  height: 18px;
  overflow: hidden;
}

.graph .header .legend .legend-item {
  float: left;
  height: 18px;
  margin-left: 20px;
  overflow: hidden;
}

.graph .header .legend .legend-item svg {
  float: left;
  margin-right: 6px;
}

.graph .header .legend .legend-item svg line {
  stroke-width: 2px;
  stroke: var(--graph-good-line-color);
}

.graph .header .legend .legend-item.bad svg line {
  stroke: var(--graph-bad-line-color);
}

.graph .header .legend .legend-item span {
  float: left;
  font-size: 10pt;
  line-height: 18px;
}

.graph .header .legend .legend-item .short-legend {
  display: none;
}

@media (max-width: 640px) {
  .graph .header .legend .legend-item .long-legend {
    display: none;
  }

  .graph .header .legend .legend-item .short-legend {
    display: unset;
  }
}

@media (max-width: 1280px) {
  html.grid-layout .graph .header .legend .legend-item .long-legend {
    display: none;
  }

  html.grid-layout .graph .header .legend .legend-item .short-legend {
    display: unset;
  }
}


.graph .hover-area {
  position: absolute;
  z-index: 1;
}

.graph .hover {
  position: absolute;
  display: none;
}

.graph .hover.visible {
  display: block;
}

.graph .hover .background, .graph .hover .pointer {
  fill: var(--hover-bg-color);
}

.graph .hover .line {
  fill: var(--hover-line-color);
}

.graph .hover text {
  alignment-baseline: central;
  fill: var(--hover-text-color);
  font-size: 10pt;
}

.graph .hover .title {
  font-weight: bold;
  text-anchor: middle;
}

.graph .hover .legend {
  font-weight: bold;
}

.graph svg.chart {
  width: 100%;
  height: 180px;
}

.graph .chart .line {
  fill: none;
  stroke: var(--graph-good-line-color);
  stroke-width: 2px;
}

.graph .chart .line.bad {
  stroke: var(--graph-bad-line-color);
}

.graph .chart .tick line {
  stroke: var(--graph-tick-color);
  shape-rendering: crispEdges;
}

.graph .chart .tick text {
  fill: var(--graph-text-color);
  font-size: 10pt;
}

.graph .chart .domain {
  stroke: var(--graph-axis-color);
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.graph .chart .background {
  fill: var(--graph-bg-color);
}

.graph .chart .interval {
  fill: var(--graph-interval-color);
  display: none;
}

html.recommendation-open .graph .chart .interval {
  display: block;
}

table {
	color:var(--recommend-text-color);
}

table th {
	padding: 12px;
}

table tr {
	text-align: left;
	padding-left: 20px;
}

table td {
	padding: 12px;
}
